*body{
    height: 100vh;
    margin: 0;
    position: relative;

}
.contact-form{
    justify-content: center;
     position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px;
    width: 300px;
    margin: 30px;
    padding: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    border-radius: 5px;
    background-color: blue;
    padding: 15px 15px;
    margin: 10px;
    color: bisque;
    font-weight: 400;
    justify-content: center;
    width: 200px;
}
.btn:hover{
    background-color: navy;
}

.contact-form1 label{
    width: 100px;
    display: block;
    margin: 5px;

}
.contact-form1 input[type="text"],
.contact-form1 input[type="email"],
.contact-form1 input[ type="message"]{
    width: 300%;
    height: 30px;
    border-radius: 10px;

}








* lets style <h2> element */
.wisdom1{
    color: darkgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: large;
}
/* style <div> element Big */
.music{
    display: flex;
    justify-content: center;
    gap: 15px;

}
.matt2{
   background-image: url(photos/SHOW.jpg); 
}

.julius{
    cursor: pointer;
    color: blue;
    float: inline-end;
}
.major{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    float: left;
}
.RONA{
    padding: 15px;
    border-radius: 10px 10px;
    background-color:navy;
    gap: 15px;
    cursor: pointer;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    
}
.lea{
    display: flex;
    flex-wrap: wrap;
}

.ASAP1{
    display: flex;
    gap: 12px;
}
  #wrap{
    flex-wrap: wrap-reverse;
  }
.ASAP2{
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px;
    justify-content: center;
    width:fit-content ;
    flex-wrap: wrap;
    height:60px;
    text-align: center;
}
/* lets style <div> element wisdom2*/
.wisdom2{
    display: flex;
    justify-content: space-around;
    gap: 12px;
}
.wisdom3{
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px;
    justify-content: center;
    width:200px ;
    flex-wrap: wrap;
    gap: 20px;
    height:200px;
    text-align: center;
}
#wrap{
    flex-wrap: wrap;
}
/* style <div> element wisdom22*/
.wisdom22{
    display: flex;
    justify-content: space-around;
    gap: 12px;
}
.wisdom33{
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px;
    justify-content: center;
    width:200px ;
    flex-wrap: wrap;
    height:fit-content;
    gap: 20px;
    text-align: center;
    transition-duration: 1s;
}
#wrap{
    flex-wrap: wrap;
}