*body{
    height: 100vh;
    margin: 0;
    position: relative;

}
.contact-form{
    justify-content: center;
     position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px;
    width: 300px;
    margin: 30px;
    padding: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    border-radius: 5px;
    background-color: blue;
    padding: 15px 15px;
    margin: 10px;
    color: bisque;
    font-weight: 400;
    justify-content: center;
    width: 200px;
}
.btn:hover{
    background-color: navy;
}

.contact-form1 label{
    width: 100px;
    display: block;
    margin: 5px;

}
.contact-form1 input[type="text"],
.contact-form1 input[type="email"],
.contact-form1 input[ type="message"]{
    width: 300%;
    height: 30px;
    border-radius: 10px;

}






 /* syle <div> element wisdom886 */
.wisdom886{
    display: flex;
    gap: 15px;
}
#wrap{
    flex-wrap: wrap;
}
.wisdom47{
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px;
    justify-content: center;
    width:200px ;
    flex-wrap: wrap;
    height:fit-content;
    text-align: center;
}
/* style <div> element kam22 */
.kam22{
    display: flex;
    justify-content: space-around;
    gap: 15px; 
}
#wrap{
    flex-wrap: wrap;
}
.wisdom6{
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px;
    justify-content: center;
    width:200px ;
    flex-wrap: wrap;
    height:fit-content;
    text-align: center;
}
.wisdom6>img{
    border-radius: 60%;
}